.navbar-color {
  background-color: #9b9b9b;
}

.navbar-brand {
  font-size: 1em;
  font-weight: 300;
}

#bell-icon {
  width: 1.3em;
  height: 1.3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: max(2.5vw, 16px);
}

.bell-animation {
  animation: bell_ring 0.25s linear 3;
}

@keyframes bell_ring {
  25% { transform:rotate(15deg);  }
  75% { transform:rotate(-15deg); }
}

.profile-picture {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

.profile-name {
  margin-left: 10px;
  margin-right: 1.5vw;
  vertical-align: middle;
}

.content {
  margin-top: max(2vw, 10px);
}

h1 {
  font-weight: 400;
}

ul.nav a {
  color: #4a4a4a;
}

ul.nav a.active {
  font-weight: 600;
}

.nav-link {
  transition: none;
}

tr, td, th {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
  vertical-align: middle;
}

.gray-dot {
height: 1em;
width: 1em;
background-color: #d8d8d8;
border-radius: 50%;
display: inline-block;
}

.green-dot {
height: 1em;
width: 1em;
background-color: #689e39;
border-radius: 50%;
display: inline-block;
}

.fa {
  color: black;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
}

.table-button {
  background-color: transparent;
  border-color: black;
  border-width: 2px;
  border-radius: 0;
  font-weight: bold;
}

.table-button:hover {
  border-color: gray;
  color: gray;
}

.add-button {
  background-color: transparent;
  border-color: black;
  margin-bottom: 10px;
  border-width: 2px;
  border-radius: 0;
  font-weight: bold;
}

.add-button:hover {
  border-color: gray;
  color: gray;
}

.modal-button {
  background-color: transparent;
  border-color: black;
  border-width: 2px;
  border-radius: 0;
  font-weight: bold;
}

.modal-button:hover {
  border-color: gray;
  color: gray;
}

.pagination {
  margin-top: 15px;
}

.pagination li a {
  color: black;
}

.page-link:focus, .page-link:active {
 outline: none !important;
 box-shadow: none;
}

.modal-content {
  border-radius: 0;
}

.navbar a {
  text-decoration: none;
}

.dropdown-block a:hover {
  color: #0a58ca;
}

.profile-dropdown-block, .bell-dropdown-block {
  display: none; 
}

.profile-dropdown-area:hover .profile-dropdown-block {
  display: block;
}

.bell-dropdown-area:hover .bell-dropdown-block {
  display: block;
}

.bell-dropdown-block {
  margin-left: -120px;
}

.dropdown-block {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: solid 1px #9b9b9b;
}

.bell-dropdown-block {
  min-width: 240px;
}

.dropdown-block a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.profile-block {
  text-align: center;
  display: block;
  background-color: transparent;
  float: left;
}

.message-block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.message {
  background-color: #cccccc;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #9b9b9b;
  padding-left: 5px;
  font-size: 0.8em;
  min-height: 70px;

  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.profile-username {
  font-size: 0.8em;
}

.notification-circle {
  position: absolute;
  margin-left: 12px;
  height: 0.3em;
  width: 0.3em;
  background-color: red;
  margin-top: 10px;
  z-index: 1;
  opacity: 0.9;
  border-radius: 50%;
}
